.cache
*0.f*
*.nek5000
*.log
log.*
*.tar
*.tgz
*.tar.gz

# mesh formats
*.re2
*.exo
*.e

# editors
.vscode

# postprocessing
*.png
*.jpg
*.jpeg

# slurm outputs
slurm-*.out
machine.file.*

# NekRS setup
s.bin
.lhelper